@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply bg-background;
}
.active::before {
  content: "";
  @apply absolute left-0 h-full w-2 bg-font-bold rounded-r-xl;
}

.containerA {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}

.toggleB.react-toggle--checked .react-toggle-track {
  @apply bg-primary;
}
.toggleB.react-toggle--checked .react-toggle-track:hover {
  @apply bg-primary;
}
